@import "bulma/css/bulma.css";

html,
body {
  height: 100%;
}

.image-select {
  border: solid 2px transparent;

  &.has-image {

  }

  &.no-image {

  }

  &.droppable {
    border: dashed 2px #222;
  }
}
